# API
MARKETPLACE_API_URL=http://final-project.simulative.ru/data

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=marketplace_db
DB_USER=analyst
DB_PASSWORD=your_secure_password

# Metabase (для подключения из docker)
MB_DB_TYPE=postgres
MB_DB_HOST=db
MB_DB_PORT=5432
MB_DB_NAME=metabase
MB_DB_USER=metabase
MB_DB_PASSWORD=metabase_pass